html
  head
    link(rel="stylesheet", href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css")
    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')

body
.container-fluid
include nav1.pug
h1 New transfer

.row.p-3
  .col-4.border.border-primary.rounded.mt-2.p-3
    form(method='POST')
      input(type='hidden', name='_csrf', value=csrfToken)

      .form-group
        label(for='account') Account
        input#accountId.form-control(type='text', name='accountId')
      .form-group
        label(for='amount') Amount
        input#amount.form-control(type='number', name='amount')

      button.btn.btn-primary Transfer